/* Ubuntu Condensed Font - Regular */
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('../fonts/UbuntuCondensed_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Ubuntu Condensed font utility class */
.font-ubuntu-condensed {
  font-family: 'Ubuntu Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}